<div class="footer">
    <div class="pull-right">
        Leandro Andrade
    </div>
    <div>
        <small>Acesse <strong><a href="https://www.linkedin.com/in/eusouleoandrade/" target="_blank">LinkedIn</a></strong> <i class="fa fa-linkedin-square"></i></small>
    </div>
</div>