<ul class="nav navbar-top-links navbar-right">
    <li><a href="#" id="btnRegister"><i class="fa fa-user"></i> Cadastre-se</a></li>
    <li><a id="btnLogin" href="#"><i class="fa fa-lock"></i> Entre</a></li>
</ul>

<script type="text/javascript">
    setNotImplemented(document.querySelector("#btnRegister"));
    setNotImplemented(document.querySelector("#btnLogin"));

    function setNotImplemented(component) {
        component.addEventListener("click", function (event) {
            setToastr();
            toastr.success('Funcionalidade não implementada.', 'Notificação');
        })
    }
</script>